.grid-block {
    border-style: dotted;
    border-color: darkblue;
    border-width: thin;
}

#container {
    padding: 8px;
    border-style: solid;
    border-color: maroon;
    border-width: medium;
    display: grid;
    grid-template-columns: repeat(32, 1fr); 
    width: 960px;
    height: 960px;
    margin: 4px;
}

#outer-container {
    display: flex;
    gap: 30px;
}

.visible {
    background-color: lightseagreen;
}

body { 
    min-height: 100vh; 
} 

#information-box {
    margin: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}